body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #5b94d6;
}

.bg-topbar {
  background-color: #3577b1;
}

.topbar-logo {
  width: 50px;
  height: auto;
}

.topbar-text {
  font-size: 28px;
  font-weight: 700;
  color: white;
}

/* Main Section */
.bg-main {
  background-color: #5b94d6;
}

.welcome-text-container {
  padding-top: 0px;
  padding-left: 0px;
}

.mabuhay {
  font-size: 100px;
  font-weight: 700;
  margin-bottom: 10px;
}

.welcome-main {
  font-size: 180px;
  font-weight: 900;
  line-height: 1.2;
  margin: 0;
}

.proceed-btn-container {
  padding-right: 50px;
}

.proceed-btn {
    background-color: #3cff90;
    color: black;
    border-radius: 25px;
    font-weight: bold;
    box-shadow: 4px 5px 0px rgba(0, 0, 0, 0.6);
    transition: all 0.3s ease;
    font-size: 30px;
    margin-left: -10px;
  }
  
  .proceed-btn:hover {
    background-color: #32e37d;
    box-shadow: 2px 3px 0px rgba(0, 0, 0, 0.5);
  }

  .navbar-brand span {
    font-weight: bold;
    font-size: 1.5rem;
  }
  
  .welcome-container h1,
  .welcome-container h2 {
    color: white;
  }
  
  .custom-hr {
    border: none;
    border-top: 4px solid #ffffff;
    width: 100%;
    max-width: 500px;
  }